:root{
    --color-letras: rgb(170, 170, 170);
}
/*INICIO imagen de Portada*/
.imagen_principal{
    margin: auto;
    width: 80%;
}
.imagen_principal img{
    width: 100%;
    border-radius: 10px;
}
/*Fin imagen de portada*/
.container-flex-temporadas{
    margin: 20px 0;
    margin-left: 110px;
}
.flex-temporadas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.flex-item-card{
    width: 500px;
    height: 380px;
}
.imagen-temporada img{
    width: 90%;
    border-radius: 10px;
}
.descripcion-temporada{
    color: var(--color-letras);
    font-family: 'Rubik', sans-serif;
}
.titulo-temporada{
    font-size: 20px;
    margin: 10px;
}
.descripcion{
    margin-left: 10px;
    margin-top: 20px;
}
.grid-main{
    color: var(--color-letras);
}
.redireccion-card-temporada{
    margin: 10px;
}